#pomodoro-container {
    display: flex;
    background-color: blueviolet;
    width: auto
    flex-direction: column;
    margin: auto;
    text-align: center;
}    
.TodoList > li{
    list-style: none;
    border: 2px solid black;
}

#pomo-start{
    border: solid 2px black;
} 
#pomo-pause {
    border: solid 2px black;
}
#pomo-stop{
    border: solid 2px black;
}


#taskList {
    list-style: none;
    border: 2px solid black;
    font-size: 16px;

}
ul.TodoList {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.task {
    
    color: purple;
  }

  .done {
    color: red;
  }
